@{
    ViewBag.Title = "Home Page";
}

<div class="container inner pb-20">
    <h1 class="section-title text-center">Attractive Ads</h1>
    <p class="text-center">Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet.</p>
</div>
<!-- /.container -->
<div class="swiper-container-wrapper swiper-auto light-gallery" data-aos="fade">
    <div class="swiper-container text-center">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr1.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox">
                        <a href="http://themes.iki-bir.com/brailie/style/images/art/cr1-full.jpg" data-sub-html=".caption1">
                            <div class="caption1 hidden">
                                <h5>Elit Fusce Ligula</h5>
                                <p>Purus Vulputate Sem Tellus Quam</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr2.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr2-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr3.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox">
                        <a href="http://themes.iki-bir.com/brailie/style/images/art/cr3-full.jpg" data-sub-html=".caption2">
                            <div class="caption2 hidden">
                                <h5>Elit Etiam Magna</h5>
                                <p>Euismod Dolor Pharetra Inceptos Ligula</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr4.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr4-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr5.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr5-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr6.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr6-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr7.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr7-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr8.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr8-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr9.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr9-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr10.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr10-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
            <div class="swiper-slide">
                <img src="http://themes.iki-bir.com/brailie/style/images/art/cr11.jpg" alt="" />
                <div class="link-wrapper">
                    <div class="link lightbox"><a href="http://themes.iki-bir.com/brailie/style/images/art/cr11-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper -->
            </div>
            <!-- .swiper-slide -->
        </div>
        <!-- .swiper-wrapper -->
    </div>
    
</div>
<!-- .swiper-container-wrapper -->