
    <style>
   
 

        .pic img {
            display: block;
            width: 100%;
            opacity: 0.8;
            -moz-transition: opacity 500ms ease-in-out;
            -o-transition: opacity 500ms ease-in-out;
            -webkit-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
            will-change: opacity
        }

            .pic img.loaded {
                opacity: 1
            }

            .pic a {
                background: #f1f1f1;
                position: relative;
                display: block;
                margin-bottom: 2px
            }

            .pic a:after {
                content: attr(data-text);
                position: absolute;
                bottom: 0;
                width: 100%;
                font-size: .9em;
                line-height: 1.7;
                text-indent: 5px;
                background: rgba(0,0,0,.6);
                color: #fff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                opacity: 0;
                -moz-transition: opacity 300ms ease-in-out;
                -o-transition: opacity 300ms ease-in-out;
                -webkit-transition: opacity 300ms ease-in-out;
                transition: opacity 300ms ease-in-out
            }

            .pic a:hover:after,.pic a:focus:after {
                opacity: 1
            }

            .albumlist {
                display: flex;
                flex-flow: row wrap;
                margin: -2px
            }

            .albumlist>a {
                flex-basis: 15%;
                flex-grow: 1;
                min-width: 196px;
                margin: 1px;
                width: 100%
            }

            .albumlist>a:after {
                opacity: 1
            }

            .albumlist img {
                height: 175px
            }

            .photolist {
                margin-right: -2px;
                margin-bottom: 20px;
                -ms-column-gap: 2px;
                -moz-column-gap: 2px;
                -webkit-column-gap: 2px;
                column-gap: 2px;
                -ms-column-width: 190px;
                -moz-column-width: 190px;
                -webkit-column-width: 190px;
                column-width: 190px
            }

            
    </style>
<h2>Gallery</h2>
<hr />

<link href="~/Scripts/fancy-box/jquery.fancybox.min.css" rel="stylesheet" />

@Html.Action("_List")

<script src="~/Scripts/fancy-box/jquery.fancybox.min.js"></script>