@{
    ViewBag.Title = "Add";
}

<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/art/bg3.jpg" style="background-image: url(&quot;style/images/art/bg3.jpg&quot;);">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Add </h1>
    </div>
    <!-- /.container -->
</div>
<div class="wrapper light-wrapper">
    @ViewBag.Message
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <h2 class="section-title mb-40 text-center">Basic Form</h2>
            @using (Html.BeginForm("Add",
                                    "Photos",
                                    FormMethod.Post,
                                    new { enctype = "multipart/form-data" }))
            {<div class="form-group">
                    <label for="exampleInputEmail1">name</label>
                    <input type="text" class="form-control" name="namefile" />
                </div>
                <div class="form-group">
                    <div class="custom-control ">
                        <input type="file" name="file">
                    </div>
                </div>
                <button type="submit" class="btn btn-full-rounded">Submit</button>
            }
        </div>
    </div>
</div>