
@{
    ViewBag.Title = "Index";
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/art/bg3.jpg" style="background-image: url(&quot;style/images/art/bg3.jpg&quot;);">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">List</h1>
    </div>
    <!-- /.container -->
</div>
<div class="wrapper gray-wrapper">
    <div class="container inner">
        <h2 class="section-title mb-40 text-center">Responsive Tables</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Table heading</th>
                    <th scope="col">Table heading</th>
                    <th scope="col">Table heading</th>
                    <th scope="col">Table heading</th>
                    <th scope="col">Table heading</th>
                    <th scope="col">Table heading</th>
                    <th scope="col">Table heading</th>
                    <th scope="col">Table heading</th>
                    <th scope="col">Table heading</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                </tr>
            </tbody>
        </table>
    
    </div>
    <!-- /.container -->
</div>
